<mat-card-header>
  <mat-card-title>
    {{title}}
  </mat-card-title>
</mat-card-header>
<mat-divider></mat-divider>
<mat-card-content class="dashboard-card-content">
  <div class="container" *ngIf="listActiveInput != null">

    <form [formGroup]="graph" (ngSubmit)="submit()">

      <mat-form-field>
        <mat-label>Model</mat-label>
        <mat-select formControlName="model">
          <mat-option *ngFor="let entry of models" [value]="entry">
            {{entry}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>X-Axis</mat-label>
        <mat-select formControlName="xAxis">
          <mat-option *ngFor="let entry of listActiveInput.headers" [value]="entry">
            {{entry}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Y-Axis</mat-label>
        <mat-select formControlName="yAxis">
          <mat-option *ngFor="let entry of listActiveInput.headers" [value]="entry">
            {{entry}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Submit</button>

    </form>

    <!--<mat-list>
      <mat-divider></mat-divider>
    </mat-list>
    <button (click)="test()"></button>-->
  </div>
</mat-card-content>
