.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  margin-top: 4rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  text-align: center;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-right: 1rem;
}

button {
  display: inline-block;
  margin: auto 1rem;
  width: 10rem;
  height: 3rem;
  background-color: #FF6F00;
  font-size: 1.1rem;
}
