<div class="header">
  <h1>Choose which type of model you would like to create</h1>
</div>

<div class="container">
  <button mat-stroked-button (click)="regression()" matTooltip="Shows changes of dependant variables for changes in independent variables">Regression</button>
  <button mat-stroked-button (click)="classification()" matTooltip="Identifies to what degree a set of data fits a certain category">Classification</button>
</div>

