<div class="header">
  <h1>Please upload your CSV file</h1>
  <mat-icon matTooltip="This file should contain at least two columns containing comma-seperated-values">info</mat-icon>
</div>

<div class="container">
  <input type="file" class="file-input" (change)="upload($event)" #fileUpload>
  <button mat-stroked-button color="primary" class="upload-btn" (click)="fileUpload.click()">
    <mat-icon [ngStyle]="{'color':'white'}">add_file</mat-icon>
  </button>
</div>

