<mat-card>
  <h1>Welcome to ValiData</h1>

  <p>Here you can use your sensor data to predict when a part may break. The currently available prediction models are regression and classification.</p><br><p>Regression shows if changes of the dependent variable are reliant on a independent variable. This shows how a part should behave in the future under certain conditions.</p><br><p>Classification identifies to what degree a set of data fits a certain category. For example, you can assign a percentage to a part which is indicative of its wear, with 100% being a failure. You need a set of data to first train the model, before you can use it to predict the values of a data file.</p><br><p>All the files need to be in a CSV (comma-seperated-value) format for the prediction to work properly.</p>

  <div class="container">
    <button class="custom-button" mat-stroked-button routerLink="/create">Get started!</button>
  </div>
</mat-card>
