.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

button {
  width: 10rem;
  height: 3rem;
  background-color: #FF6F00;
  font-size: 1.1rem;
}

p {
  text-align: center;
  width: 60%;
  margin: auto;
}

h1 {
  text-align: center;
}

mat-card {
  margin-top: 10rem;
}
