table {
  width: 100%;
  padding: 0.5rem;
}

.cell-spacing {
  padding: 0.5rem;
}

.container {
  display: table;
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%;
  height: auto;
  text-align: center;
}

h1 {
  margin-right: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
