<div class="header">
  <h1>Classification Results for {{this.classificationResultInput.toPredict}}</h1>
  <mat-icon matTooltip="The percentage indicates the chance at which the data is predicted to be either 1 or over the set limit.">info</mat-icon>
</div>

<div class="container">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container *ngFor="let header of this.headers; index as i;" matColumnDef="{{header}}">
      <th mat-header-cell *matHeaderCellDef class="cell-spacing"> {{header}} </th>
      <td mat-cell *matCellDef="let element" class="cell-spacing"> {{element[i]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="container">
  <button mat-button routerLink="/dashboard">Start over</button>
</div>
