<div class="container">
  <app-model *ngIf="modelActive" (modelOutput)="getModelOutput($event)"></app-model>

  <app-regression-upload *ngIf="regressionUploadActive" (regressionUploadOutput)="getRegressionUploadOutput($event)"></app-regression-upload>
  <app-regression-select *ngIf="regressionSelectActive" (regressionSelectOutput)="getRegressionSelectOutput($event)" [regressionSelectInput]="fetchResponse"></app-regression-select>
  <app-regression-graph *ngIf="regressionGraphActive" [regressionGraphInput]="graphResponse"></app-regression-graph>

  <app-classification-upload *ngIf="classificationUploadActive" (classificationUploadOutput)="getClassificationUploadOutput($event)"></app-classification-upload>
  <app-classification-result *ngIf="classificationResultActive" [classificationResultInput]="classificationResponse"></app-classification-result>
</div>
