<h1 style="text-align: center">Regression</h1>
<div class="header">
  <p>loss: {{this.data.info.loss}}</p>
  <mat-icon matTooltip="Mean Square error. Indicates how good the regression line fits the data points. The lower the better, with 0 being perfect. Not indicative for different data sets, as the value is dependant on magnitude of data values.">info</mat-icon>
</div>

<div class="chart-container">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [oneToOne]="true"
  ></highcharts-chart>
</div>

<div class="container">
  <button mat-button routerLink="/dashboard">Start over</button>
</div>
