.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  margin-right: 0.5rem;
}
