.file-input {
  display: none;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-right: 1.5rem;
}

button {
  width: 10rem;
  height: 4rem;
  margin: 2rem 1rem;
  background-color: #FF6F00;
  font-size: 1.1rem;
}

mat-icon {
  transform: scale(2);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

