<div class="container" style="margin-top: 2rem">
  <h1 *ngIf="selectClassificationActive">Do you want to set a limit?</h1><mat-icon *ngIf="selectClassificationActive" matTooltip="If the value to classify in the data set is either 0 or 1, choose no limit. If it can take on any other values, choose limit.">info</mat-icon>
  <h1 *ngIf="selectTrainFileActive">Please select your train file</h1><mat-icon *ngIf="selectTrainFileActive" matTooltip="This file is used to train the model to use in the prediction. It should contain at least two columns containing comma-seperated-values">info</mat-icon>
  <h1 *ngIf="selectDependentColumnsActive">Please select the dependent columns</h1><mat-icon *ngIf="selectDependentColumnsActive" matTooltip="Choose all of the values the prediction should use to classify the dependent column.">info</mat-icon>
  <h1 *ngIf="selectPredictColumnActive">Please select the column to predict</h1><mat-icon *ngIf="selectPredictColumnActive" matTooltip="Choose the column to classify. If there are no options, you need to remove at least one column in the previous selection.">info</mat-icon>
  <h1 *ngIf="selectLimitActive">Please select your limit</h1><mat-icon *ngIf="selectLimitActive" matTooltip="Choose the value for which the classification should treat the column to predict as 1, ie. a limit of 10 indicates that all values below are considered as 0, and all values above 10 are considered 1. Currently only whole numbers are supported.">info</mat-icon>
  <h1 *ngIf="selectDataFileActive">Please select your data file</h1><mat-icon *ngIf="selectDataFileActive" matTooltip="The model trained with the train file is used on the data in this file. It should contain only the dependant columns chosen in the previous steps, with the values being comma seperated.">info</mat-icon>
</div>

<div class="container" *ngIf="selectClassificationActive">
  <button mat-stroked-button (click)="limit()">Yes</button>
  <button mat-stroked-button (click)="noLimit()">No</button>
</div>


<div class="container" *ngIf="selectTrainFileActive">
  <input type="file" class="file-input" (change)="selectTrainFile($event)" #fileUpload>
  <button mat-raised-button (click)="back()">Back</button>
  <button mat-stroked-button color="primary" class="upload-btn" (click)="fileUpload.click()">
    <mat-icon [ngStyle]="{'color':'white'}">add_file</mat-icon>
  </button>
</div>

<div class="container" *ngIf="selectDependentColumnsActive">
  <form [formGroup]="selectDependentColumnsFormGroup" (ngSubmit)="selectDependentColumns()">
    <mat-selection-list formControlName="dependentCols">
      <mat-list-option *ngFor="let header of this.headers" [value]="header">{{header}}</mat-list-option>
    </mat-selection-list>
    <button mat-stroked-button (click)="back()">Back</button>
    <button mat-raised-button type="submit">Submit</button>
  </form>
</div>

<div class="container" *ngIf="selectPredictColumnActive">
  <form [formGroup]="selectPredictColumnFormGroup" (ngSubmit)="selectPredictColumn()">
    <mat-selection-list formControlName="predictCol" [multiple]="false">
      <mat-list-option *ngFor="let header of this.remainingHeaders" [value]="header">{{header}}</mat-list-option>
    </mat-selection-list>
    <button mat-raised-button (click)="back()">Back</button>
    <button mat-raised-button type="submit">Submit</button>
  </form>
</div>

<div class="container" *ngIf="selectLimitActive">
  <form [formGroup]="selectLimitFormGroup" (ngSubmit)="selectLimit()">
    <mat-form-field>
      <input matInput formControlName="limit" type="number">
    </mat-form-field>
    <button mat-raised-button (click)="back()">Back</button>
    <button mat-raised-button type="submit">Submit</button>
  </form>
</div>

<div class="container" *ngIf="selectDataFileActive">
  <input type="file" class="file-input" (change)="selectDataFile($event)" #fileUpload>
  <button mat-raised-button (click)="back()">Back</button>
  <button mat-stroked-button color="primary" class="upload-btn" (click)="fileUpload.click()">
    <mat-icon [ngStyle]="{'color':'white'}">add_file</mat-icon>
  </button>
</div>

<div *ngIf="isLoading" class="container">
  <h1 style="text-align: center" *ngIf="isLoading">This could take a little while...</h1><br>
</div>

<div *ngIf="isLoading" class="container">
  <mat-spinner></mat-spinner>
</div>
