@use '@angular/material' as mat;

@include mat.core();

$light-primary: mat.define-palette(mat.$amber-palette, 500);
$light-accent: mat.define-palette(mat.$grey-palette, A400, 300, A700);
$light-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);

$dark-primary: mat.define-palette(mat.$amber-palette, 900);
$dark-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

$button-primary: mat.define-palette(mat.$amber-palette, 900);
$button-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$button-warn: mat.define-palette(mat.$red-palette);

$button-theme: mat.define-light-theme($button-primary, $button-accent, $button-warn);

@include mat.core-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

.light-theme{
  @include mat.core-theme($light-theme);
  @include mat.all-component-themes($light-theme);
}

.custom-button {
  $button-primary: mat.define-palette(mat.$amber-palette, 900);
  $button-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
  $button-theme: mat.define-light-theme((color: (primary: $button-primary, accent: $button-accent),));

  @include mat.button-color($button-theme);
}


