<mat-card-header>
  <mat-card-title>
    {{title}}
    <input type="file" class="file-input" (change)="upload($event)" #fileUpload>
    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>add_file</mat-icon>
    </button>
  </mat-card-title>
</mat-card-header>
<mat-divider></mat-divider>
<mat-card-content class="dashboard-card-content">
  <div class="container">
    <mat-list>
      <a type="button" [class.selected]="entry === active" (click)="select(entry)" *ngFor="let entry of list"><mat-list-item class="list-item">{{entry.title}}</mat-list-item></a>
    </mat-list>
  </div>
</mat-card-content>


