.file-input {
  display: none;
}

.upload-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 1.5em;
}

mat-card-header {
  padding: 0.2em 0 0.2em 0;
}

mat-list {
  padding: 0;
}

mat-list-item {
  border-radius: 0.5em;
}

mat-list-item:hover {
  background-color: #555555;
  cursor: pointer;
}

.container {
  margin-right: 2.2em;
}

.list-item {
  margin: 1em 2em 1em 1em;
}

.selected > mat-list-item {
  background-color: #FF6F00;
}
