<div *ngIf="!isLoading">
  <div class="header">
    <h1>Select the columns you want to use</h1>
    <mat-icon matTooltip="The X-Axis is the one that the Y-Axis is dependent on. For Y choose the column that you want to know the changes of in response to changes in the column chosen for X.">info</mat-icon>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="container">
      <mat-form-field>
        <mat-label>X-Axis</mat-label>
        <mat-select formControlName="xAxis">
          <mat-option *ngFor="let entry of regressionSelectInput.headers" [value]="entry">
            {{entry}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Y-Axis</mat-label>
        <mat-select formControlName="yAxis">
          <mat-option *ngFor="let entry of regressionSelectInput.headers" [value]="entry">
            {{entry}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="container">
      <button mat-raised-button type="submit">Submit</button>
    </div>
  </form>
</div>

<div *ngIf="isLoading" class="container">
  <h1 style="text-align: center" *ngIf="isLoading">This could take a little while...</h1><br>
</div>

<div *ngIf="isLoading" class="container">
  <mat-spinner></mat-spinner>
</div>
