.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-right: 1.5rem;
}

button {
  color: white;
  margin-top: 2rem;
  width: 8rem;
  height: 3rem;
  background-color: #FF6F00;
  font-size: 1.1rem;
}

mat-form-field {
  margin: auto 1rem;
}
