.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.container {
  margin-right: 0.2rem;
}

div > .mat-raised-button {
  margin-right: 0.8rem;
}
