<mat-toolbar color="primary">

  <button mat-button routerLink="/dashboard">
    <mat-icon style="color: white" aria-hidden="false" aria-label="home icon">home</mat-icon>
  </button>

  <span style="margin-left: 10px; color: white">{{title}}</span>
  <span class="example-spacer"></span>

</mat-toolbar>
