/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

simple-snack-bar span {
  margin:auto;
  text-align: center;
}

.success-snackbar {
  background-color: #FF6F00;
  color: white;
}

.error-snackbar {
  background-color: darkred;
  color: white;
}
